<table class="table table-striped col-md-12" id="table-intro">
  <thead>
    <tr>
      <th id="table_header">About EnsurePrice<th>
    </tr>
  </thead>
</table>
<div class="container">
    <h4 class="about-header"><b>About Our ESaaS App</b></h4>
    <p class="about-text">
        Different healthcare insurance companies have different websites and many different policies under each one of their umbrellas. It is very `hard for an individual to decipher what each policy means`, let alone to know transparently how much their potential upcoming doctor’s visit would cost. This leaves a hole in the market and gives us an opportunity to help healthcare insurance policy holders have peace of mind before going into their doctor’s appointment - knowing how much they will end up paying. Our SAAS Platform solved this problem by providing our users unbiased and `transparent cost information` about their upcoming consultation so that they don't have to spend hours on phone or internet to understand their health insurance and benefits. <br>
        Our app also provides users an easy way to find Doctors based on their insurance provider, designations and a wide range of specialities. Further, it serves as a platform where users can anonymously leave reviews about various doctors so that people can make an informed decision about their healthcare needs.
	</p><hr>
    <h4 class="about-header"><b>How to user our App</b></h4>
    <p class="about-text">
       <ul>
        <li>Login to our ESaaS application using your email and password. If you don't have an account, you can create one! </li><br>
        <li>On Home Page, click on the <%= link_to "Estimate Code", ensureprice_path("InsuranceProviders"), id: "about-link" %> button to find out the cost of your doctor's visit by answering some easy questions</li><br>
        <li>You can click on the <%= link_to "Find Doctors", doctors_path, id: "about-link" %> button to look for doctors based on your needs. </li><br>
        <li>Our app allows you to filter the doctors based on insurance plan, speciality and designation. </li><br>
        <li>Our platform provides user an easy way to leave anonymous reviews for doctors! You can also read reviews for each doctor to make an informed decision.</li><br>
        <li>Users can also view their own previously given reviews, edit them as well as delete them by going to their profile page.</li><br>
       </ul>
    </p><hr>
    <h4 class="about-header"><b>Basics of Health Insurance</b></h4>
    <p class="about-text">
        There are three basic terms that help you understand Health Insurance Plans better:
        <ol>
        <li><b>Premium:</b> The price of a health insurance plan i.e. the monthly bill from your insurance company. You can choose your insurance plan based on premium value that suits your income. </li><br>
        <li><b>Deductible:</b> The amount of medical care you need to pay before you start getting the benefits of your insurance plan. </li><br>
        <li><b>Out-of-pocket maximum:</b> the limit on how much you could spend on medical care in a year, after which the insurance company pays for 100% of the cost of covered health services. Out-of-pocket maximum = Copayments + coinsurance + Deductible. But your monthly insurance bill like premium, balance billing, etc are not included.</li><br>
        </ol>
    </p><hr>
    <h4 class="about-header"><b>Tips: How to decide your plan?</b></h4>
    <p class="about-text">
        Usually the medical care is more costly in the beginning of the policy year before your spending reaches the deductible. <br>
        High Deductible: Suitable for good healthy people who do not expect sudden large medical bills. <br>
        Low Deductible: With a low deductible, you will get cost benefits faster but monthly bills would be higher.<br>
        High Out-of-pocket maximum: If you need significant healthcare, there is a big risk ofvery high costs.<br>
        Low Out-of-pocket maximum: Very beneficial as it gives significant protection from many medical expenses.<br>
        High Coinsurance & Copay: Low-cost plans usually have high values for coinsurance and copay and is suitable for those who don't expect significant healthcare. <br>
        Low Coinsurance & Copay: Would be beneficialy if you might need moderate healthcare services and won't reach out-of-pocket max. <br>
    </p><hr>
    <h4 class="about-header"><b>Project Developers</b></h4>
	<p class="about-text">
        <ul>
            <li>Yukti Khurana <br></li>
            <li>Chiao Fen Chan <br></li>
            <li>Muhan Liang <br></li>
            <li>Isabelle Arevalo <br></li>
        </ul>
	</p><hr>
    <h4 class="about-header"><b>Github Link</b></h4>
	<p class="about-text">
        https://github.com/esaas-ensureprice/ensureprice
	</p>
</div>


