<div class="center jumbotron">
  <img id="main_project_logo"  src="<%= asset_path 'project-logo.png' %>" />

  <p class="home_text">
    We know health insurance can be confusing. 
    Thats why we created EnsurePrice to bring transparency to how much you will pay for health services.
    <br>
  </p>

  <p class="home_line">Get started!</p>
  <% if logged_in? %>
    <%= link_to '<button class="btn btn-lg btn-primary">Estimate Cost</button>'.html_safe, ensureprice_path("InsuranceProviders") %>
    <%= link_to '<button class="btn btn-lg btn-primary">Find Doctors</button>'.html_safe, doctor_reviews_path %>
  <% else %>
    <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
