/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .doctor-select{
    color: white;
    width: fit-content;
    margin-top:8px;
}

.card {
    float:left;
    width: 25%;
    padding: .75rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    margin-right: 45px;
    margin-left: 45px;
    text-align: center;
    color: #31546A;
    background-color: whitesmoke;
}

.doctor-name{
    font-size: 100% !important;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 90%;
}

#page_banner {
    background-color: #31546A ; 
    padding: 15px; 
    border: solid 0.5px; 
    color: #8AAAE5; 
    padding-left: 30px; 
    font-family: Inter, sans-serif;
}
#main_project_logo {
    margin-left:20% ; 
    margin-right:20% ; 
    width:60% ; 
    padding:0
}
#page_banner {
    background-color: #31546A ; 
    padding: 15px; 
    border: solid 0.5px; 
    color: #8AAAE5; 
    padding-left: 30px; 
    font-family: Inter, sans-serif;
}
#project_logo {
    width:15% ; 
    padding: 0;
}
#sub_header{ 
    margin-top:20px;
    background-color: rgb(217, 203, 203); 
    padding: 10px; 
    color: #31546A; 
    font-size: 15px; 
    font-weight: bold;
    padding-left: 30px; 
    font-family: Inter, sans-serif;
}
#header_name { 
    font-size: 32px; 
    text-align: center; 
    font-family: Inter, sans-serif; 
    color: FFFFFF; 
    margin-top: 217px;
}  
.home_line { 
    font-size: 36px; 
    text-align: center; 
    font-family: Inter, sans-serif; 
    color: rgba(255,255,255,0.6); 
    margin-top: 50px
}
.home_text { 
    font-size: 15px; 
    text-align: center; 
    font-family: Inter, sans-serif; 
    color: rgba(255,255,255,0.4); 
}
.button_div { 
    text-align: center ;
}
#start_button { 
    padding: 11px; 
    background-color: #A0CFB4; 
    font-size: 24px; 
    margin-left: 40% ; 
    margin-right:40% ; 
    width:20% ; 
    border-radius: 15px ; 
    border: none ; 
    text-decoration:none ;
}    
#start_button:hover { 
    background: rgba(255,255,255,0.6); 
    cursor: pointer;
}
#start_link, #back_link {
    text-decoration:none; 
    color: #31546A; 
}
tr {
    text-align: center;
  
}
#table_header { 
    color: white; 
    font-size: 20px; 
    font-family: Inter, sans-serif;
}
#insurance_providers, 
#insurance_plans, 
#doctors {
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px; 
    text-align: center;  
    margin-bottom: 50px;
}
tbody {
    background-color: whitesmoke; 
    text-align:center; 
    display:inline-block; 
    border-radius: 10px;
} 

#provider-link, 
#plan-link, 
#visit-link {
    text-decoration: none; 
    color: #31546A;
    font-size:17px;
    font-weight: bold;
    font-family: Inter, sans-serif;
}
tbody td{
    color: #31546A;
    font-size: 17px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
#visit_key {
    color: 31546A; 
    font-family: Inter, sans-serif; 
    padding-top:10px
}
#visits { 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px; 
    text-align: center; 
    margin-bottom: 50px 
    }

#visit-div {
    text-transform: uppercase;
}
#price{ 
    background-color: whitesmoke;
    text-align: center; 
    margin-top: 100px; 
    margin-bottom: 50px; 
} 
#price-text{
    color:#31546A ;
    font-size: 20px;
    font-weight: bold;
}  
