@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* colors, mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$main-color: #7099b1;
$dark-pink: #cd787d;
$faded-pink: #d8babd;
$custom-dark-blue: #31546a;
$faded-white: rgba(255, 255, 255, 0.7);
$error-red: #a63232;
$faded-grey: rgba(128, 128, 128, 0.8);
$faded-light-gray: rgba(128, 128, 128, 0.5);
$custom-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-green: rgb(141, 181, 141);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

hr {
  border-top: 1px solid #e4e2e2;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
  padding-top: 60px;
  background-color: $main-color;
  color: white;
}

.jumbotron {
  background-color: $main-color;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#layout-header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $gray-medium-light;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  background-color: black !important;
  opacity: 0.7;
}

.nav-logo {
  width: 5rem;
  margin-right: 10px;
}

.gravatar {
  width: 50px;
  border-radius: 50%;
}

.big-gravatar {
  width: 100px;
  border-radius: 100%;
  border: 1px solid #e4e2e2;
}

#update-dp {
  margin: 10px;
  margin-bottom: 40px;
  text-align: center;
}

/* footer */
footer {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: whitesmoke;
  a {
    color: whitesmoke;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* form errors */

.alert {
  margin-top: 30px !important;
}

#error_explanation {
  color: $error-red;
  background-color: whitesmoke;
  padding-bottom: 5px;
  margin-bottom: 20px;
  ul {
    color: $error-red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* static home page */

#main_project_logo {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  padding: 0;
}

.home_text {
  font-size: 15px;
  text-align: center;
  font-family: Inter, sans-serif;
  color: $faded-white;
}

.home_line {
  font-size: 36px;
  text-align: center;
  font-family: Inter, sans-serif;
  color: $faded-white;
  margin-top: 50px;
}

/* ensureprices */

#table_header {
  color: white;
  font-size: 20px;
  font-family: Inter, sans-serif;
}

#insurance-provider-btn,
#insurance-plan-btn,
#visit-btn {
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
  border-color: transparent;
  background: transparent;
  padding: 10px;
  margin-bottom: 10px;
  &:hover {
    color: $custom-dark-blue;
    background: rgba(241, 238, 238, 0.7);
  }
}

#table-intro {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#sub_header {
  margin-top: 20px;
  background-color: rgb(217, 203, 203);
  padding: 10px;
  color: $custom-dark-blue;
  font-size: 15px;
  font-weight: bold;
  padding-left: 30px;
  font-family: Inter, sans-serif;
}

/* doctors in ensureprice */

.doctor-select {
  color: white;
  width: 100%;
  margin-top: 5px;
  font-size: 11px;
  color: $custom-dark-blue;
  background: $gray-medium-light;
  border-color: $gray-medium-light;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.card {
  float: left;
  width: 28%;
  padding: 1.25rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
  margin-right: 25px;
  margin-left: 25px;
  text-align: left;
  color: $custom-dark-blue;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.doc-card-rating {
  background: none;
  border: none;
  margin-top: -15px;
  color: $faded-light-gray !important;
}

#doc-card-review-count {
  color: $faded-light-gray !important;
}

.doctor-name-header {
  padding: 5px;
  font-size: 15px !important;
  font-weight: bold;
}

.card > img {
  margin-bottom: 0.75rem;
}

.card-text {
  font-size: 90%;
}

#insurance-name {
  color: $dark-pink;
  margin-left: 8px;
  font-family: $custom-font !important;
}

#card-doc-about,
#card-site-name {
  margin-left: 12px;
  font-family: $custom-font !important;
}

#price {
  background-color: whitesmoke;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#price-text {
  color: $custom-dark-blue;
  font-size: 20px;
  font-weight: bold;
}

#visit-subheader {
  text-transform: uppercase;
}

/* doctor reviews */

#doctor-profile-container,
#add-review-container,
#login-container,
#signup-container,
#update-container {
  margin: 50px;
  padding: 50px;
  color: $custom-dark-blue;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#filter-container {
  padding: 50px;
  margin-top: 100px;
  color: $custom-dark-blue;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#doctor-profile-header,
#login-header,
#signup-header,
#update-header {
  font-size: 25px;
  font-weight: bold;
}

#review-btns {
  text-align: right;
}

.national-provider-identifier,
.medicaid-provider,
.phone-number,
.provider-type,
.gender,
.plan-name,
.insurance-plan,
.site-name,
.specialty,
.designation,
.doctor-name,
.location {
  font-size: 16px;
  margin-bottom: 40px;
}

#select-filter {
  padding: 10px;
  text-align: center;
}

#select-filter-btn-div,
#select-sort-btn-div {
  padding: 10px;
  text-align: left;
  font-family: $custom-font !important;
}

.filter {
  height: 30px;
  background-color: #31546a;
  color: white;
  cursor: pointer;
}

.filter-btn,
.sort-btn {
  margin-right: 10px;
  color: $custom-dark-blue;
  background: white;
  border: none;
  &:hover {
    background: $custom-dark-blue;
    color: white;
    border: none;
  }
}

#select-container {
  margin: auto;
  width: 100%;
}

.filter-tag {
  margin-right: 20px;
  text-align: center;
  padding: 6px;
  font-size: 13px;
  border-radius: 2px;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
  color: $dark-pink;
  font-weight: bold;
}

#top-about-container {
  margin-top: 10rem;
}

.about-sub-container {
  color: black;
  background-color: rgba(245, 245, 245, 0.716);
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-header {
  color: $custom-dark-blue;
  text-transform: uppercase;
}

.about-text {
  color: rgba(0, 0, 0, 0.864);
  font-size: 13px;
  font-family: $custom-font;
}

#about-link {
  color: $dark-pink;
  font-weight: bold;
}

#search-option {
  text-align: right;
}

#filter-option {
  text-align: left;
}

.checked {
  color: orange;
}

#doctor_review_rating {
  color: $custom-dark-blue;
}

#profile-review-container,
#doctor-review-container { 
  color: black;
  background-color: whitesmoke;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#question-container {
  color: black;
  background-color: whitesmoke;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 1rem solid #cd787d;
}

#answer-container {
  color: black;
  background-color: whitesmoke;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 1rem solid $light-green;
}

#edit-review-btns {
  text-align: right;
}

#doc-rating-star {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

#doctor-profile-button {
  width: 70px;
  height: 60px;
  font-size: 40px;
}

.fa-user {
  font-size: 40px;
}

#doc-name-header {
  font-weight: bold;
}

#review-title {
  font-size: 15px;
  color: $dark-pink;
  margin-bottom: 10px;
  text-transform: capitalize;
}

#doc-review-title {
  font-weight: bold;
  color: $dark-pink;
  text-transform: capitalize;
}

#doctor-review-div {
  text-align: left;
}

#user-name-header {
  font-size: 30px;
}

#review-timestamp {
  margin-top: -5px;
  margin-bottom: 8px;
  font-size: 12px;
  color: $faded-grey;
}

#doc-review-timestamp {
  margin-bottom: 8px;
  font-size: 12px;
  color: $faded-grey;
}

.avg-doc-rating {
  background: none;
  border: none;
}

.back-button {
  color: $custom-dark-blue !important;
  border-color: $custom-dark-blue !important;
  &:hover {
    background-color: $custom-dark-blue !important;
    color: white !important;
  }
}

#review-count {
  color: $custom-dark-blue;
}

#price-option-btns {
  text-align: right;
}

#home-btn {
  font-size: 25px;
  padding: 30px;
  color: $custom-dark-blue;
  background: #eaeaeae2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  font-family: $custom-font;
  width: 350px;
  &:hover {
    background-color: $custom-dark-blue;
    color: whitesmoke;
  }
}
#home-btns {
  text-align: center;
}

#home-btns-header {
  font-size: 25px !important;
  font-weight: bold;
  font-family: Inter, sans-serif !important;
}

#home-btn-text {
  font-size: 16px !important;
  font-family: Inter, sans-serif !important;
}

#check-box-container {
  padding-top:10px;
  padding-bottom:10px;
  text-align: left;
  font-family: $custom-font;
}

#my_ques_form,
#my_ans_form  {
  font-size: 14px;
}

#my_ques_submit,
#my_ans_submit{
  width: 70%;
  padding: 0;
  font-size: 14px;
}

#checkbox-div {
  text-align: right;
  margin: 0;
  padding: 0;
}

#label-div{
  text-align: left;
  margin: 0;
  padding: 0;

}

#refresh-btn-div{
  text-align: left;
  margin: 0;
  padding: 0;

}

// .view-ans-button {
//   border: none;
//   color: black;
//   background-color: $light-green;
//   &:hover{
//     color: black;
//     border: 1px solid black;
//     background-color: rgb(222, 238, 215);
//   }
// }
