<h1>EnsurePrice</h1>
<h2><em><%= $insurance_plan %></em></h2>

<table class="table table-striped col-md-12" id="doctors">
  <thead>
    <tr>
      <th>Doctors<th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td>
          <%= link_to doctor, visits_path(doctor) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>