<%= stylesheet_link_tag 'application' %>   
<style type="text/css"> 
  tbody tr:hover { 
    background: #D8BABD; 
    cursor: pointer;
  } 
</style>


<div id="sub_header"><em><%= session[:id] %></em></div>
<table class="table table-striped col-md-12" id="insurance_plans">
  <thead>
    <tr>
      <th id="table_header"><%= session[:id] %> Insurance Plans<th>
    </tr>
  </thead>
  <table style="margin-left:auto;margin-right:auto;">
    <% @insurance_plans.each do |insurance_plan| %>
      <tr> <td> <%= link_to insurance_plan, doctors_path(insurance_plan), id: "plan-link" %>   </td> </tr>
      <br>
    <% end %>
  </table>
</table>
