<div id="sub_header"><em><%= session[:id] %></em></div>
<table class="table table-striped col-md-12" id="table-intro">
  <thead>
    <tr>
      <th id="table_header"><%= session[:id] %> Insurance Plans<th>
    </tr>
  </thead>
  <table>
    <% @insurance_plans.each do |insurance_plan| %>
      <%= button_to insurance_plan, doctors_path(insurance_plan), id: "insurance-plan-btn", method: :get %>
      <br>
    <% end %>
  </table>
</table>
<br><br>
<%= link_to '<button class="btn btn-secondary">Back To Providers</button>'.html_safe, ensureprice_path("InsuranceProviders") %>