<h1>EnsurePrice</h1>

<div>
  <span>After paying your insurance deductible of $ <%= @deductible %>, the estimated Cost of this visit would be:</span>
  <%=@dollarSign %> 
  <%=@price %> 
</div>

<%= link_to "Back to home page", ensureprices_path %> 