<%= stylesheet_link_tag 'application' %>  
<style type="text/css"> 
  tbody tr:hover { 
    background: #D8BABD; 
    cursor: pointer;
  } 
</style>

<table class="table table-striped col-md-12" id="insurance_providers">
  <thead>
    <tr>
      <th id="table_header">Select Your Insurance Provider<th>
    </tr>
  </thead>
<table style="margin-left:auto;margin-right:auto;">
  <% @insurance_providers.each do |insurance_provider| %>
    <tr> <td> <%= link_to insurance_provider, plans_path(insurance_provider), id: "provider-link" %>  </td> </tr>
    <br>
  <% end %>
</table>
</table>